body {
    height: 100vh;
    overflow-x: auto; 
    overflow-y: hidden; 
    scroll-behavior: smooth; /* Smooth scrolling */
    display: flex;
    flex-direction: row; /* Arrange content horizontally */
    background-color: #fdf6e3; 
    
}

.container {
    display: flex;
    flex-direction: row; /* Align sections horizontally */
    width: 100vw;
    height: 95vh;
    overflow-x: scroll; /* Enable horizontal scrolling for the container */
    scroll-behavior: smooth;
    scroll-snap-type: x; 
    white-space: nowrap;

    
}

iframe {
    flex: 0 0 50%; /* Each iframe takes half the width */
    height: 85%;
    margin-top: 50px;
    scroll-snap-align: start;
}

.nav {
    position: fixed;
    top: 1px;
    left: 10px;
    bottom: 50px;
    z-index: 1000;
}

.nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    margin: 0px;
    border-radius: 5px;
    display: inline-block;
}

.nav a:hover {
    background-color: gray;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #002855; 
    margin-top: 20px;
    color: #ff0000; 
    border-top: 3px solid #001d3d; 
    z-index: 1000;
    position: relative; /* Ensure it is positioned within the document flow */
}