/* CSS file for the portfolio sections */

.section-page {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #002855;
    color: #fdf6e3;
    text-align: center;
    padding: 20px;
}

.section-page h1 {
    text-align: center;
    position: static;
}

.section-page img {
    width: 50%;
    height: auto;
    margin: 10px 0;
}

