body {
    padding: 0;
    margin: 0;
}

canvas {
    border: 0;
    background-image: url("map.png");
    z-index: 100;
    background-position: left top;
    position: fixed;
}

#resumeOverlay {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    display: none; /* Hidden by default */
    z-index: 600; /* Ensure it appears above other elements */
}

#resumeIframe {
    width: 80%;
    height: 80%;
    margin: 5% auto;
    display: block;
    border: none;
    background: white;
}

#closeOverlay {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    z-index: 500;
}

#resumeButton {
    position: relative; 
    justify-self: center;
    z-index: 400; 
    color: #fdf6e3; 
    padding: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
#homeButton {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Hidden by default */
    z-index: 700; /* Ensure it appears above other elements */
}

/* Specific styles for homeCanvas */
#homeCanvas {
    pointer-events: auto; /* Allow pointer events */
    top: 10px;
    left: 10px;
    background: rgba(198, 85, 85, 0);
    z-index: 800; /* Higher than minicanvas */
}

/* Specific styles for minicanvas */
#minicanvas {
    pointer-events: none;
    top: 10px; /* Adjust position to avoid overlap */
    left: 10px;
    z-index: 700; /* Lower than homeCanvas */
}